/*top buttons*/
nav {
	background-color: tomato;
	height: 150px;
	text-align: center;
	position: relative;
}
nav a {
	color: #d62f6d;
	text-decoration: none;
	border: 3px solid tomato;
	padding: 25px 35px;
	background-color: #fff;
	float: left;
	margin: 30px 10px;
	font-weight: bold;
	transition: 0.5s ease;
}
nav a:hover {
	color: white;
	font-size: 150%;
	background-color: #d62f6d;
	border: 3px solid black;
}
/*bottom buttons*/
ul {
	list-style-type: none;
}
li {
	margin: 10px;
	display: inline-block;
}
button {
	color: green;
	background-color: lightgreen;
	border-radius: 8px;
	padding: 15px 30px;
}